doctype html
html
  head
    meta(charset='utf-8')
    title Kiero
    link(href='http://fonts.googleapis.com/css?family=Montserrat', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Cabin', rel='stylesheet', type='text/css')
    link(href='lib/bootstrap/css/bootstrap.min.css', rel='stylesheet', type='text/css')
    link(rel='stylesheet', type='text/css', href='/css/kiero.css')
  body
    header#header
      div
        button AYUDA
      section#sec1.right
        article.imghed
          img#imgkie(src='/img/KieroLogo.png')
        article.imghed
          img#imgusr(data-bind='attr: {src: usuario().foto}')
        article.txthed
          p.arriba Bienvenido
          p.arriba(data-bind='text: usuario().nombre')
        article.txthed
          p.arriba Te quedan
          p.arriba(data-bind="text: flechazos() + ' flechazos'")
    section#sec3
      header#header2
        article.mitad
          p#textoarriba
            | Manda un flechazo a quien mas te guste y descubre si eso persona kiere kontigo. No corres el riesgo de que se entere a menos que te seleccione a ti también.
        article.mitad
          img#mujer.genero(src='/img/K_ic_femaleN.png')
          img#hombre.genero(src='/img/K_ic_maleN.png')
          input#buscador(placeholder='Buscar')
      section.contenedor(data-bind='foreach: amigos()')
        article.sec4
          //(data-bind="click : $parent.muestra_albumes")
          article 
            input(type="checkbox")
            img(data-bind="click: $,attr: {src: picture.data.url, id: id}, event: {mouseover: $parent.muestra_info, mouseout: $parent.ocultar_info}" data-html="")

          footer.nombre(data-bind='text: name')
    footer
      section.sec5
        section#atras.left
          p.abajo Atras
        input#buscar(placeholder='Buscar')
        section#adelante.rigth
          p.abajo Siguiente
    //
       Javascript :) 
    script(type='text/javascript', src='/lib/jquery.min.js')
    script(type='text/javascript', src='/lib/bootstrap/js/bootstrap.min.js')
    script(type='text/javascript', src='/lib/knockout-3.1.0.js')
    script.
      /* Definir modelo para Knockout */
      var modelo = {
        "usuario": ko.observable({}),
        "amigos": ko.observableArray([]),
        "males": ko.observableArray([]),
        "females": ko.observableArray([]),
        "backup": ko.observableArray([]),
        "flechazos": ko.observable(0),
        "muestra_albumes":function(obj){albumes(obj.id);},
        "muestra_info":function(obj){
          var info = "";
          if(obj.tiene_app){
            info = "<p>Nombre: " + obj.name + "</p>";
            if(obj.gender)
              info += "<p>Sexo: " + obj.gender + "</p>";
            if(obj.location)
              info += "<p>Vive en: " + obj.location + "</p>";
          }else
            info = "Esta persona no tiene la aplicación";
          $("#" + obj.id).popover({content:info, html:true,placement:'top'}).popover("show");
          $(".popover .arrow").css("top","");
        },
        "ocultar_info":function(obj){
          $("#"+ obj.id).popover("hide");
        } 
      }
      ko.applyBindings(modelo);
    script.
      window.fbAsyncInit = function() {
      FB.init({
      appId      : '686818771334811',
      cookie     : true,
      xfbml      : true,
      version    : 'v2.0'
      });
      FB.getLoginStatus(function(response) {
      if(response.status == "not_authorized" || response.status == "unknown")
      window.location = window.location.origin;
      FB.api("/me?fields=picture,name,invitable_friends.fields(id,name,picture.width(120).height(120)),friends.fields(id,name,picture.width(120).height(120),gender,hometown,location,albums)", function(response){
      var mi_usuario = {nombre: response.name, id: response.id, foto: response.picture.data.url};
      for(var i = 0; i < response.friends.data.length; i++)
        response.friends.data[i].tiene_app = true;
      var amigos = response.friends.data.concat(response.invitable_friends.data);
      modelo.usuario(mi_usuario);
      modelo.amigos(amigos);
      modelo.backup(amigos);
      for(var i = 0; i < response.friends.data.length; i++)
      modelo[response.friends.data[i].gender + "s"].push(response.friends.data[i]);
      $.ajax({
        "url": "http://localhost:1992/redis/get/" + modelo.usuario().id,
        "type": "GET",
        "success": function(data){
          modelo.flechazos(data);
        }
      });
      });
      });
      };
      // Load the SDK asynchronously
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    script.
      var btn_m = false, btn_f = false;
      $("#mujer").click(function(event){
      if(btn_f){
      btn_f = false;
      modelo.amigos(modelo.backup());
      $(this).css("opacity","1");
      }else{
      btn_f = true;
      $(this).css("opacity","0.5");
      if(btn_m){
      btn_m = false;
      $("#hombre").css("opacity","1");
      }
      modelo.amigos(modelo.females());
      }
      });
      $("#hombre").click(function(event){
      if(btn_m){
      btn_m = false;
      modelo.amigos(modelo.backup());
      $(this).css("opacity","1");
      }else{
      btn_m = true;
      $(this).css("opacity","0.5");
      if(btn_f){
      btn_f = false;
      $("#mujer").css("opacity","1");
      }
      modelo.amigos(modelo.males());
      }
      });
    script(type="text/javascript" src="/js/kiero.js")